.portfolio-wrapper {
    width: 100%;
    background-color: rgba(225, 224, 223, 0.667);
    height: auto;
    text-align: center;
    padding-top: 5rem;
}

.our-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.our-work {
    margin: 3rem 0;
    background-color: rgba(225, 224, 223, 0.667);
    padding-bottom: 2.5rem;
}

.our-work button {
    background-color: rgb(0, 102, 255);
    color: white;
    padding: 1rem 1rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
.our-work button:hover {
    cursor: pointer;
    background-color: rgb(0, 153, 255);
}

.project h2 {
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    background-color: rgba(225, 224, 223, 0.667);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 15px rgba(17, 47, 167, 0.509);
}

.project img {
    margin: 2rem 0 1rem 0;
    width: 80%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 5px 5px 15px rgb(251, 251, 251);
}

.project img:hover {
    box-shadow: 5px 5px 15px rgb(0, 153, 255);
    transition: transform 0.3s ease;
}

.projects-modal-wrapper{
    width: 90%;
    text-align: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 20px rgb(254, 254, 254);
}



.projects-modal-wrapper button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.345);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.projects-modal-wrapper button:hover {
    color: rgba(255, 0, 0, 0.53);
    transition: transform 0.3s ease;
}

.projects-pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-pictures img {
    margin: 0rem 0.1rem 0.5rem 0.1rem;
    width: 45%;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.projects-pictures img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.zoomed-image {
    z-index: 10;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 90%; 
    max-height: 90%; 
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.zoom-overlay img {
    width: 90%;
    background-size: cover;
    background-position: center;
}



@keyframes tilt {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(5deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

@media (min-width: 769px){

    .portfolio-wrapper h1{
        margin-bottom: 2rem;
    }
    .our-work {
        width: 30%;
        margin-top: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 5px 5px 15px rgb(118, 118, 118);
        transition: transform 0.3s
    }

    .our-work:hover {
        animation: tilt 0.3s ease forwards;
    }

    .zoom-overlay{
        background-color: transparent;
    }


    .zoom-overlay img {
        position: fixed; 
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%); 
        box-shadow: 0px 0px 50px 105px rgb(254, 254, 254);
    }
}



