.remodeling-process {
    color: rgb(4, 1, 1);
    width: 90%;
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 223);
    border-radius: 15px;
    padding-bottom: 3rem;
    padding-left: 1rem;
    text-align: center;
    box-shadow: 5px 5px 35px rgb(246, 181, 1);
}
.remodeling-title{
    width: 90%;
    font-size: 1.8rem;
    margin: 1rem 0rem 1rem 0;
}

.remodeling-text{
    text-align: start;
    font-size: 1.2rem;
    font-weight: 500;
    width: 95%;
}

.remodeling-step{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.remodeling-step p:first-of-type {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(234, 32, 32);
}

.remodeling-step p:nth-child(3){
    font-size: 1.5rem;
    margin-bottom: 3rem;
}


.process-icon {
  display: inline-block;
  transition: color 1s;
  color: rgb(1, 147, 28);
}
.process-icon svg {
  font-size: 3rem;
}


/* Desktop Styles */
@media (min-width: 769px) {
    .remodeling-process {
        width: 100%; 
        padding: 3rem; 
        margin-top: 4rem;
        border-radius: 5px;
        box-shadow: none;
    }

    .remodeling-title {
        font-size: 2rem; 
        margin: 0rem 0 1rem 0; 
        width: 80%;
    }

    .remodeling-text {
        font-size: 1.5rem; 
        width: 100%; 
        margin: 1rem 0;
    }

    .remodeling-step {
        font-size: 1.5rem; 
        margin: 1rem 0 2rem 5rem; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .remodeling-step p:first-of-type {
        font-size: 2rem; 
        margin-right: 1rem;
    }

    .remodeling-step p:nth-child(3) {
        font-size: 2rem; 
        margin-bottom: 0;
        margin-left: 1rem;
    }

    .process-icon svg {
        font-size: 3rem; 
    }
}