.remodeling-process {
    color: rgb(4, 1, 1);
    width: 90%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 225, 223);
    border-radius: 10% 30% 50% 70%;
    padding-bottom: 3rem;
    padding-left: 1rem;
    text-align: center;
    box-shadow: 5px 5px 35px rgb(246, 181, 1);
}
.remodeling-title{
    width: 70%;
    font-size: 1.5rem;
    margin: 1rem 3rem 1rem 0;
}

.remodeling-text{
    font-size: 1.2rem;
    font-weight: 500;
    width: 85%;
    margin-right: 3rem;
}

.remodeling-step{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.remodeling-step p:first-of-type {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(234, 32, 32);
}

.remodeling-step p:nth-child(3){
    font-size: 1.5rem;
    margin-bottom: 3rem;
}


.process-icon {
  display: inline-block;
  transition: color 1s;
  color: rgb(1, 147, 28);
}
.process-icon svg {
  font-size: 3rem;
}


/* Desktop Styles */
@media (min-width: 769px) {
    .remodeling-process {
        width: 90%; /* Adjust width for desktop */
        padding: 3rem; /* Increase padding */
        border-radius: 15% 35% 55% 75%; /* Adjust border radius */
    }

    .remodeling-title {
        font-size: 2rem; /* Increase title font size */
        margin: 0rem 0 1rem 0; /* Adjust title margin */
        width: 80%;
    }

    .remodeling-text {
        font-size: 1.5rem; /* Increase text font size */
        width: 100%; /* Increase text width */
        margin: 1rem 0;
    }

    .remodeling-step {
        font-size: 1.5rem; /* Increase step font size */
        margin: 1rem 0 2rem 5rem; /* Adjust step margin */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .remodeling-step p:first-of-type {
        font-size: 2rem; /* Increase first p font size */
        margin-right: 1rem;
    }

    .remodeling-step p:nth-child(3) {
        font-size: 2rem; /* Increase third p font size */
        margin-bottom: 0;
        margin-left: 1rem;
    }

    .process-icon svg {
        font-size: 3rem; /* Increase icon size */
    }
}