
.about {
    width: 100%;
    text-align: center;
    position: relative;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-top: 2rem;
    background-color: rgba(255, 255, 255, 0.639);
}

.about-me{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    padding-bottom: 2rem;
}

.about h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.about p{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 2rem 0rem 2rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 10px;
}

.my-picture img {
    width: 90%;
    margin-top: 2rem;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 15px black;
}

@media (min-width: 769px){
    .about {
        background-color: rgba(255, 255, 255, 0.823);
    }
    .about h1{
        margin: 2rem 0 0rem 0;
        text-align: start;
        color: black;
    }

    .about-me {
        flex-direction: row;
        background-color: transparent;
    }

    .about-me p {
        padding: 2rem;
        width: auto;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 2rem 0 0;
        height: auto;
    }

    .my-picture img{
        flex-shrink: 0;
        margin-top: -1.5rem;
    }
}