.free-estimate-wrapper{
    margin: 3rem 0;
    padding-bottom: 3rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.856);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.free-estimate-title{
    background-color: rgba(7, 116, 27, 0.809);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 10px 10px black;
    color: white;
    padding: 1rem;
    animation: flash 4s infinite;
}

.estimate-text{
    margin: 2rem 0 1rem 0;
    font-size: 1.1rem;
    font-weight: 450;
    width: 95%
}

.intake-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
}

.intake-form input{
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.184);
    margin-bottom: 1.3rem;
}

.submit-estimate-request {
    background-color: rgba(7, 116, 27, 0.809);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
}

.submit-estimate-request:hover {
    color: yellow;
    box-shadow: 5px 5px 10px rgba(255, 255, 0, 0.684);
}

.invalid-form{
  border: 1px solid red;
}


@keyframes flash {
  0% {
    color: yellow;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}