@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 5px black;
  padding: 0.5rem 0;
  position: relative;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;

}



.navBar-container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.navBar-container .nav-link {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0;
  background-color: rgba(255, 255, 255, 0.399);
  border-bottom-left-radius: 80px 80px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.382);
  position: absolute;
  width: 100px;
  height: 25vh;
  top: 47px;
  right: 0;
  z-index: 10;
  display: none;
}

.navBar-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar-container h2 {
  color: white;
  font-size: 1rem;
  cursor: pointer;
}


.navBar-container .nav-link li {
  list-style: none;
  margin: 0 0.5rem;
}

.navBar-container ul li a {
  color: rgb(4, 1, 1);
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.5rem 0.7rem;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.navBar-container ul li a:hover,
.navBar-container ul li a.active {
  background-color: rgba(249, 249, 249, 0.093);
  font-size: 1rem;
  font-weight: 600;
}

.sideBar-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.logo svg {
  color: green;
}

/* Show when active */
.nav-link.active {
  display: block;
}


/* Desktop Styles */
@media (min-width: 769px) {
  .navBar-container {
    max-width: 1440px; 
  }

  .navBar-container .nav-link {
    position: static;
    display: flex; 
    flex-direction: row; 
    background-color: transparent;
    box-shadow: none; 
    border-radius: 0; 
    width: auto; 
    height: auto; 
    justify-content: flex-end; 
  }

  .navBar-container .nav-link li {
    margin: 0 1rem; 
  }

  .navBar-container ul li a {
    color: white; 
    font-size: 1rem; 
    text-shadow: 1px 1px 2px black;
  }

  .sideBar-icon {
    display: none; 
  }

  .navBar-container h2 {
    font-size: 1.2rem; 
  }
}