.footer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neighborhood-text-footer {
  text-align: center;
  margin: 1rem 0 5rem 0;
}

.neighborhood-text-footer h2 {
  font-size: 2rem;
  color: rgb(44, 15, 15);
  text-shadow: 1px 1px 2px black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6rem;
  font-weight: 500;
}

.neighborhood-text-footer h3 {
  color: rgb(44, 15, 15);
  text-shadow: 1px 1px 2px black;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6rem;
  font-weight: 400;
}

.house-icon-footer {
  display: inline-block;
  transition: color 1s;
  color: green;
}
.house-icon-footer svg {
  font-size: 3rem;
}

.house-icon-footer:hover svg {
  color: rgb(249, 171, 24);
}

.contact-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    padding: 2rem;
    box-shadow: 2px 2px 15px black;
}
.contact-footer h5 {
    font-size: 1.5rem;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 2px white;
    margin-bottom: 1rem;
}
.contact-hours{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
}

.process-icon-footer{
    margin: 0rem 1rem 0 0;
}

.process-icon-footer svg {
    font-size: 1.5rem;
}


.socials-f {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 2rem 0;
    background-color: rgba(177, 207, 214, 0.287);
    padding: 1rem 4rem 1rem 4rem;;
    border-radius: 5rem;
    box-shadow: 2px 2px 15px black;
}
.socials-f:hover {
    transform:scale(1.1)
}
.socials-f img {
    width: 1.5rem;
}

.socials-f img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

@media (max-width: 767px){
  .contact-footer{
    width: 90%;
  }
}


/* Desktop styles */
@media (min-width: 769px){
  .footer{
    padding: 1rem 0 1rem 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
  }

  .footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .neighborhood-text-footer{
    width: 30%;
    margin: 0 0 0 1rem;
  }
  .neighborhood-text-footer h2 {
    font-size: 1.5rem;
  }

  .neighborhood-text-footer h3 {
    font-size: 1rem;
  }

  .house-icon-footer svg{
    font-size: 3rem;
  }

  .contact-footer{
    width: 60%;
    background-color: transparent;
    box-shadow: none;
  }

  .socials-f{
    width: 10%;
    flex-direction: column;
    border-radius: 0;
    background-color: transparent;
    border: none;
    padding: 0rem;
    box-shadow: none;
    cursor: pointer;
  }

  .socials-f img{
    margin-bottom: 1.5rem;
    width: 2rem;
  }
}