.what-we-do-wrapper-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-we-do-section img{
    width: 100%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    border-radius: 50% 20% / 10% 40%;
    box-shadow: 5px 5px 15px rgb(236, 108, 57);
}

.what-we-do-section img:hover {
    box-shadow: 5px 5px 15px rgb(28, 147, 221);
}

.service {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 1rem;
}

.what-we-do-section button {
    background-color: rgb(0, 102, 255);
    color: white;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.what-we-do-section button:hover {
    cursor: pointer;
    background-color: rgb(0, 153, 255);
}

.services-line{
    width: 80%;
    margin-bottom: 2rem;
}

@keyframes tilt {
    0% {
        transform: rotate(0deg); 
    }
    50% {
        transform: rotate(5deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

@media (min-width: 769px) {
    .hide-on-desktop{
        display: none;
    }
    .what-we-do-services { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .what-we-do-wrapper-component {
        width: 30%;
        margin-bottom: 20px;
    }
    .what-we-do-section {
        border-radius: 35px;
        border: 1px solid rgba(255, 255, 255, 0.573);
        box-shadow: 5px 5px 2px rgba(255, 254, 251, 0.489);
    }

    .what-we-do-section:hover {
        animation: tilt 0.3s ease forwards;
    }

    .what-we-do-section img {
        width: 80%; 
        margin-top: 1rem;
        border-radius: 60% 25% / 15% 45%; 
    }

    .service {
        font-size: 2rem;
        margin-top: 1.5rem; 
    }

    .what-we-do-section button {
        font-size: 1.2rem; 
        padding: 1.2rem 2.5rem; 
        border-radius: 30px; 
    }

    .services-line {
        width: 60%; 
        margin-bottom: 3rem; 
    }
}

