.testimonials-wrapper {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.111);
    padding: 1rem
}

.testimonials-wrapper h1 {
    margin-bottom: 2rem;
    color: rgb(42, 131, 233);
}

.video-and-text-testimonials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-and-text-testimonials-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.video-div {
    width: 40%;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(112, 112, 112, 0.594);
}

.video-div:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.testimonial-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;

}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    background-color: rgba(86, 157, 238, 0);
    border: 1px solid white;
    border-radius: 15px;
    padding: 1rem 1rem;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 0px 0px 10px 10px rgba(185, 185, 185, 0.594);

}

.testimonial:hover {
    background-color: rgba(239, 238, 238, 0.862);
    border: 3px solid white;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}


.image-rating {
    width: 20%;
}

.image-rating-row{
    margin: 0rem 0 1rem 0;
}




.reviewer-image-name-container,
.reviewer-image-name-container-row{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}



.customer-face,
.customer-face-row{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.name-profession,
.name-profession-row{
    font-size: 0.7rem;
    margin-left: 1rem;
}

.row-testimonials{
    display: flex;
    flex-direction: row;
}

.testimonial {
    margin: 1rem;
}

.testimonial-row{
    text-align: left;
    background-color: rgba(239, 238, 238, 0.862);
    border-radius: 15px;
    padding: 1rem 1rem;
    margin: 2rem 1rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.image-rating-row{
    width: 25%;
}

.testimonial-row:hover {
    background-color: rgba(86, 157, 238, 0);
    border: 2px solid white;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}



/* mini phone 390px + */
@media (max-width: 767px){ 
    .testimonials-wrapper{
        width: 100%;
    }
    .video-and-text-testimonials,
    .video-and-text-testimonials-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonials-container{
        width: 100%;
    }
    .testimonial,
    .testimonial-row{
        width: 100%;
        margin: 1rem 0 0 0;
    }
    .row-testimonials{
        margin-bottom: 2rem;
    }
    .video-div {
        width: 90%;
        height: 60vh;
    }
    .image-rating{
        width: 20%;
        margin-bottom: 1rem;
    }

    .row-testimonials{
        flex-direction: column;
    }

}

@media (min-width: 769px) {
    .testimonials-wrapper{
        background-color: rgba(255, 255, 255, 0);
    }

    .video-div {
        width: 40%;
        height: 70vh;
    }
    .image-rating{
        width: 15%;
        margin-bottom: 1rem;
    }

    .row-testimonials{
        margin-bottom: 2rem;
    }

}