* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* Mobile first */
body {
  max-width: 768px;
  height: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}



body::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

.video-container {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(60, 60, 60, 0.445);
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: blur(1px);
}

.main-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Ensure scrolling is enabled */
}

.neighborhood-text {
  text-align: center;
  margin: 15rem 0 0rem 0;
}

.neighborhood-text h2 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6rem;
  font-weight: 500;
}

.neighborhood-text h3 {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.6rem;
  font-weight: 400;
}

.house-icon {
  display: inline-block;
  transition: color 1s;
  color: green;
}
.house-icon svg {
  font-size: 5rem;
}

.house-icon:hover svg {
  color: rgb(249, 171, 24);
}

.information-wrapper{
  background-color: rgba(225, 224, 223, 0.667);
  width: 95%;
  padding: 5rem 0 auto 0;
  margin: 5rem 0 5rem 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px black;
  margin-top: 25rem;
}

.information-wrapper h4{
  text-shadow: 1px 1px 2px black;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 600;
}

.what-we-do-wrapper{
    width: 90%;
    text-align: center;
    margin-top: 5rem;
}

.what-we-do-wrapper h1 {
    color: white;
    margin: 2rem 0 2rem 0;
    text-shadow: 1px 1px 2px black;
}

.call-us-now {
  width: 90%;
  margin-top: 4rem;
  border: 5px solid rgb(250, 250, 250);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.call-us-now h5{
  text-align: center;
  font-size: 1.4rem;
}
.call-us-now span {
  font-size: 1.6rem;
  color: red;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.465);
}

.absolute-phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: rgba(33, 86, 194, 0.457);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.call-us-absolute svg {
  font-size: 1.8rem;
  margin-right: 1rem
}

.absolute-phone-number h6 {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.465);
}

/* iphone mini 390px + */
@media (max-width: 767px){
  .neighborhood-text {
  text-align: center;
  margin: 15rem 0 0rem 0;
}

.neighborhood-text h2 {
  font-size: 2rem;
}

.neighborhood-text h3 {
  font-size: 1rem;
}

.house-icon svg {
  font-size: 3rem;
}
}

/* Desktop styles */
@media (min-width: 769px) {
    body {
        max-width: none; 
    }

    .main-content{
      width: 100%;
      margin-top: -5rem;
    }

    .neighborhood-text {
        margin: 20rem 0 0rem 0; 
    }

    .neighborhood-text h2 {
        font-size: 5rem; 
    }

    .neighborhood-text h3 {
        font-size: 2rem; 
    }

    .house-icon svg {
        font-size: 7rem; 
    }

    .information-wrapper {
        width: 90%; 
        margin-top: 15rem; 
    }

    .information-wrapper h4 {
        font-size: 4rem; 
    }

    .what-we-do-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    .what-we-do-wrapper h1{
      font-size: 3rem;
    }

  .call-us-now {
    margin-top: 5rem;
    border: 5px solid rgb(250, 250, 250);
    padding: 3rem 5rem;
    border-radius: 10px;
}
.call-us-now h5{
  font-size: 2.5rem;
}
.call-us-now span {
  font-size: 3rem;
}
}