.contact-bar {
    background: linear-gradient(to right, rgba(113, 157, 84, 0), #ffffff30);
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
}

.license{
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.962);
}
.hiring,
.right-section {
    display: none; /* Hide sections on mobile */
}

.left-section .license {
    display: block; /* Show license on mobile */
}

/* Desktop Styles */
@media (min-width: 768px) {
    .contact-bar {
        background: linear-gradient(to right, rgba(86, 116, 181, 0.372), #d5d5d59a);
        margin-top: 3.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hiring,
    .left-section,
    .right-section {
        display: flex; /* Show sections on desktop */

    }

    .left-section .license {
        display: inline-block; /* Show license on desktop */
        margin-right: 20px;
    }

    .right-section span {
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}